{% extends 'base-plain.html.twig' %}

{% block pagename %}Bevesting van uw zoekopdracht{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-sm-12">
            Uw zoekopdracht is opgeslagen, zodra er een matras beschikbaar is stellen wij u op de hoogte via het
            opgegeven e-mail adres
            <br/>
            We hebben u een e-mail gestuurd ter bevestiging.
        </div>
    </div>
{% endblock %}
