Beste {{ name }},

<br />
<br />

Het betreffende product is beschikbaar: {{ matrass }}

<br />
<br />

<a href="https://www.healthfoam.com/koopjeshoek">Klik hier</a> om naar de koopjeshoek te gaan.
<br />
Of kopieer onderstaande link:
<br />
<strong>https://www.healthfoam.com/koopjeshoek</strong>

<br />
<br />
<br />
Met vriendelijke groet,
<br />
Team RHF


